html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.footer {
  
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: white;
  background-color: #333333;
  text-align: center;
}


